<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <title>Trevor Systems</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li class= "icon"><a href="index.html">Trevor Systems Icon</a></li>
                <li><a href= "index.html">Home</a></li>
                <li><a href="openMediaVault.html">Open Media Vault</a></li>
                <li><a href="fileShare.html">FileShare</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>

    <section class="banner"></section>

    <section>
        <img src="images/me.png" alt="picture of website creator">
        <p>
            I created this website to serve as a way to access my home built NAS 
            from anywhere in the world. In order to do that I figured that building this website 
            was the best way to go about it! I built this website form the ground up, starting 
            with the html and CSS files, moving into the banner, logo, and other picture designs 
            before finally figuring out how to even host a website, and then making sure it had 
            all the bells and whistles. Additionally I bought this domain and host the website from
            the NAS itself. 
        </p>
        <p>
            This website now serves many more functions than what it orginally was
            intended for as it has grown and morphed since its orginal conception and now serves as 
            a personal protfolio and a solution to a problem that me and my friends have had for a while,
            which is how to swap files and folders amongst each other. This program is free to use, colelcts
            no data, and requires no account. Just upload and share!
        </p>
        <p>
            Currently, I am studying for a computer science bachelor's degree at the University of Utah and I am always looking for an oppurtunity
            to expand my skillset. I am an Eagle Scout and have played both Lacrosse and Football. I am someone who likes
            to tinker with and experiment on things simply for the enjoyment of figuring out how they work or how
            I can make that thing work better for me. My computer skills include Java, C++, javascript, html, css and more!
        </p>
    </section>

    <footer>University of Utah • trevorkoenig@att.net • 916-807-0848</footer>
    
</body>
</html>