<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <title>Trevor Systems</title>

</head>

<body>
    <header>
        <nav>
            <ul>
                <li class= "icon"><a href="index.html">Trevor Systems Icon</a></li>
                <li class="navTop"><a href= "index.html">Home</a></li>
                <li class="navTop"><a href="openMediaVault.html">Open Media Vault</a></li>
                <li class="navTop"><a href="fileShare.html">FileShare</a></li>
                <li class="navTop"><a href="about.html">About Me</a></li>
            </ul>
            <ul>
                <li class="mobile">
                    <a href="javascript:void(0)" class="mobile" onclick="topNavMobile()">
                        <section class="sidebar">
                            <figure>
                                <img src="images/OMV.png" alt="Open Media Vault icon">
                                <figcaption>OMV</figcaption>
                            </figure>


                        </section>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="banner"></section>

    <section class="big-navigation">
        <a href="openMediaVault.html" class="figures">
            <figure>
                <img src="images/OMV.png" alt="Open Media Vault icon">
                <figcaption>OMV</figcaption>
            </figure>
        </a>
        <a href= "fileShare.html" class="figures">
            <figure>
                <img src="images/fileShare.png" alt="FileShare porgram icon">
                <figcaption class= fileShareCap>FileShare</figcaption>
            </figure>
        </a>
        <a href="about.html" class="figures">
            <figure>
                <img src="images/me.png" alt="picture of website creator">
                <figcaption>About</figcaption>
            </figure>
        </a>
        <a href="smartMirror.html" class="figures">
            <figure>
                <img src="images/smartMirror.jpg" alt="picture of a smart mirror I created">
                <figcaption>Smart Mirror Project</figcaption>
            </figure>
        </a>
    </section>

    <footer>University of Utah • trevorkoenig@att.net • 916-807-0848</footer>

    <script src="scripts.js"></script>
</body>
</html>