@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<body class="bg-dark">

    <div class="bg-image banner"><img src="~/images/banner.jpg" alt="Heading banner to main page"></div>
    <section class="text-white">
        <div class="text-center">
            <img src="~/images/me.png" class="rounded mx-auto d-block" alt="picture of website creator">
        </div>
        <p>
            I created this website to serve as a way to access my home built NAS
            from anywhere in the world. In order to do that I figured that building this website
            was the best way to go about it! I built this website form the ground up, starting
            with the html and CSS files, moving into the banner, logo, and other picture designs
            before finally figuring out how to even host a website, and then making sure it had
            all the bells and whistles. Additionally I bought this domain and host the website from
            the NAS itself.
        </p>
        <p>
            This website now serves many more functions than what it orginally was
            intended for as it has grown and morphed since its orginal conception and now serves as
            a personal protfolio and a solution to a problem that me and my friends have had for a while,
            which is how to swap files and folders amongst each other. This program is free to use, colelcts
            no data, and requires no account. Just upload and share!
        </p>
        <p>
            Currently, I am studying for a computer science bachelor's degree at the University of Utah and I am always looking for an oppurtunity
            to expand my skillset. I am an Eagle Scout and have played both Lacrosse and Football. I am someone who likes
            to tinker with and experiment on things simply for the enjoyment of figuring out how they work or how
            I can make that thing work better for me. My computer skills include Java, C++, javascript, html, css and more!
        </p>
    </section>

</body>
</html>